.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .form {
    .title {
      color: var(--text1);
    }
    > div {
      width: 360px;
      margin-bottom: 16px;
      &:last-of-type {
        margin-bottom: 24px;
      }
    }
  }
}
