$background-color: #2788ca;

.button {
  width: 360px;
  padding: 18px 24px;
  border-radius: 8px;
  background-color: $background-color;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.2s ease-in-out;
  font-family: poppins_bold;
  &:hover {
    background-color: #2484c3;
  }
  &:active {
    background-color: #1f7bb8;
  }
}
