.button {
  width: 360px;
  padding: 18px 24px;
  border-radius: 8px;
  background-color: var(--btn1-bg);
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.2s ease-in-out;
  font-family: poppins_bold;
  &:hover {
    background-color: var(--btn1-hover-bg);
  }
  &:active {
    background-color: var(--btn1-active-bg);
  }
}
