$background-color: #2788ca;

.button {
  width: 360px;
  padding: 18px 24px;
  border-radius: 8px;
  background-color: $background-color;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
