.answer {
  min-width: 500px;
  font-family: poppins_bold, noto_bold;
  padding: 15px;
  margin-bottom: 24px;
  border-radius: 50px;
  border: 0;
  background-color: var(--answer1-bg);
  color: var(--answer1-text);
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.right {
    animation: right 2.5s 1 ease-in-out forwards;
  }

  &.wrong {
    animation: wrong 2.5s 1 ease-in-out forwards;
  }
}

@keyframes right {
  0%,
  20%,
  40%,
  60%,
  80% {
    opacity: 1;
    background-color: var(--answer1-bg);
    transform: scale(1, 1);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 0.4;
    background-color: var(--answer1-bg);
    transform: scale(1, 1);
  }
  100% {
    opacity: 1;
    background-color: var(--answer1-right);
    transform: scale(1.1, 1.1);
  }
}

@keyframes wrong {
  0%,
  20%,
  40%,
  60%,
  80% {
    opacity: 1;
    background-color: var(--answer1-bg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 0.4;
    background-color: var(--answer1-bg);
  }
  100% {
    opacity: 1;
    background-color: var(--answer1-wrong);
  }
}
