.input {
  width: 100%;
  padding: 18px 24px;
  border-radius: 8px;
  background-color: var(--input1-bg);
  border: 2px solid var(--input1-border-color);
  outline: 0;
  color: #fff;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  &:focus {
    background-color: var(--input1-focus-bg);
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--input1-placeholder);
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--input1-placeholder);
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--input1-placeholder);
  }
}
