.create {
  padding-top: 120px;
  padding-bottom: 120px;
  .form {
    .title {
      color: #fff;
      font-size: 32px;
    }
    .input_wrap {
      max-width: 500px;
    }
    .btn_wrap {
      margin-top: 20px;
    }
  }
}
